@charset "utf-8";

/* StyleSheet for ABOUT Page */

.mainCont {
    text-align: center;
    font-size: 1.3em;
}

#info {
    padding: 50px 100px;

}

.mainCont > img {
    width: 16%;
    height: auto;
}

.mainCont h1 {
    color: #fff158;
}

#introImg {
    margin-top: 5%;
}

@media (max-width: 576px) { 

    #info {
        padding: 5px 5px;
        font-size: 0.8em;
    }

    .mainCont > img {
        width: 30%;
        height: auto;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .mainCont h1 {
        margin-top: 20px;
        font-size: 3em;
    }
    
}
