@charset "utf-8";

.mainCont {
    text-align: center;
    font-size: 1.3em;
}

#info {
    padding: 50px 100px;

}

.mainCont > img {
    width: 20%;
    height: auto;
    filter: grayscale(100%);
}

.mainCont h1 {
    color: #fff158;
}

#introImg {
    margin-top: 5%;
}
