@charset "utf-8";

.mainCont {
    text-align: center;
    font-size: 1.3em;
}

#info {
    padding: 50px 100px;

}

.mainCont > img {
    width: 20%;
    height: auto;
}

.mainCont h1 {
    color: #fff158;
}

#introImg {
    margin-top: 5%;
}

@media (max-width: 575.98px) { 


    #info {
        padding: 5px 5px;
    }
    
}
