@charset "utf-8";

.mainCont{
    padding: 50px 100px; 
}

.contactCont{
    text-align: center;
    font-size: 1.5em;
}

.contactCont a{
    color: white;
}

#map {
    width: 100%;
    height: 300%;
    filter: grayscale(100%);
}
