@charset "utf-8";

/* StyleSheet for CONTACT Page */

.mainCont{
    padding: 50px 100px; 
    text-align: center;
}

.contactCont{
    font-size: 1.5em;
}

.contactCont a{
    color: white;
}

#map {
    width: 100%;
    height: 500px;
    filter: grayscale(100%);
}

#contactTitle {
    color: #fff158;
}

@media (max-width: 576px) { 

    .mainCont {
        padding: 10px 30px;
    }

    #map{
        display: none;
    }

    .contactCont a{
        color: white;
        font-size: .8em;
    }


}
