@charset "utf-8";

/* StyleSheet for INDEX Page */

html {
    max-height: 100%;
}

body {
    overflow: hidden;
    font-family: 'Inconsolata', monospace;
}

.fadeOut{
    opacity: 0;
}

img#background {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
}

.flicker{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#largeHeader {
    font-family: 'Inconsolata', monospace;
    color: white;
    transition-duration: 3s;
}

#largeHeader h1 {
    font-size: 8em;
}

#largeHeader h2 {
    font-size: 6em;
    float: right;
}

.navLinks li a{
    background: none;
}

