@charset "utf-8";

/* StyleSheet for RESUME Page */

.mainCont{
    font-size: 1.2em;
}

.rowTitle {
    color: #fff158;
}

.lastCol {
    padding-bottom: 80px;
}

@media (max-width: 768px) { 
    
    .workCol {
        margin-top: 10px;
    }

}