@charset "utf-8";

/* StyleSheet for SKILLS Page */

.mainCont{
    padding: 30px 80px; 
}

.skillsCont ul li {
    font-size: .5em;
    padding-top: 3%;
    list-style: none;
}

.pageTitle, .secTitle{
    color: #fff158
}

.secTitle{
    font-size: 0.7em;
}

.skillsCont {
    padding-bottom: 80px;
}

@media (max-width: 576px) { 

    .mainCont {
        padding: 10px 30px;
    }

}